version: '3.8'

services:
  app:
    container_name: app
    build:
      context: .
    command: yarn dev
    environment:
      NODE_ENV: development
    ports:
      - 5173:5173
      - 6006:6006
    volumes:
      - .:/app